
.corpo{
	
	background: aliceblue;
	color:  black;
	border: 1px solid black;
	margin: auto;
	width: 30%;
	font-size: 18px;
	font-family: calibri;
	text-align: center;
}

html{
	background: deepskyblue;
}


